/*Toolbar
nav {
	background-color: #333;
	overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
}
nav img {
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
}
.search-container {
	align-self: end;
	margin-right: 10px;
	margin-top: 10px;
}
.search-container input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	border-radius: 3px;
}
.search-container button*/

nav {
	background-color: #333;
	overflow: hidden;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

nav img {
	height: 50px;
	margin-top: 5px;
}

.search-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.search-container input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	border-radius: 3px;
}

.search-container button {
	padding: 6px;
	margin-bottom: 14px;
	margin-left: 10px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
}


.gmbar_prdk {
  height: 100px;
  width: 100px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr.total td {
  font-weight: bold;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    padding: 24px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }


}
