body {
    background-color:  #7CC644; /* fallback for old browsers */
}

table{
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
}

h4{
    text-align: center;
}

p{
    text-align: center;
}

#input{
background-color:#D6D6D6;
}

::placeholder{
    color:black;
    font-weight: bold;
}

.colom_form{
    width:50%;
}

.login{
    width:60%;
    margin-left:100px;
}

.btn_login{
    margin-top:30px;
    background-color:#D6D6D6;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: none;
    width:40%;
    height: 40px;
}

a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}